/*  Hero
===========================================================
*/

#hero h1 {
  margin: 0;
}

#hero p {
  font-style: italic;
  text-align: center;

  margin: 10px 0 50px 0;
}

#face {
  width: 300px;
  height: 300px;

  border: 5px solid #EC6608;
  border-radius: 300px;

  overflow: hidden;

  margin: 50px auto;
}

#face img {
  width: 100%;
  height: auto;
}

/* Über mich
===========================================================
*/

#about-me {
  background-color: #65B32E;

  padding: 20px 100px;
}

#about-me h2 {
  color: #18044e;

  font-size: 2.5rem;
  font-style: italic;
}

#about-me p {
  color: #18044e;

  font-size: 1.2rem;
  text-align: center;
}

/*  Meine Kentnisse
  ********************************************************/

#my-skills {
  padding: 20px 100px;
}

#my-skills h2 {
  font-size: 2.5rem;
  font-style: italic;
}

#my-skills div {
  display: flex;
  justify-content: space-around;

  padding: 50px 0px;
}

#my-skills article p {
  text-align: center;

  font-size: 1.2rem;
  font-weight: 700;
}

#my-skills p {
  font-size: 1.2rem;
  font-weight: 700;
}

#my-skills li {
  list-style-type: disc;

  font-size: 1.2rem;

  padding: 2px 20px;
}

/*  Footer
  ********************************************************/

footer {
  background-color: #EC6608;

  padding: 20px 100px;
}

footer p {
  text-align: center;
}

footer span {
  font-size: 0.8rem;
  font-style: italic;
}

/****  Impresssum  ****************************************/

#impressum {
  display: unset;

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;

  background-color: rgba(0, 0, 0, 0.95);
}

#impressum h2 {
  font-size: 2.7rem;

  color: #65B32E;
}

#impressum div {
  display: flex;
  justify-content: space-around;
  align-items: baseline;

  padding: 50px;
}

#impressum button {
  background-color: rgba(0, 0, 0, 0.95);

  color: #65B32E;

  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 700;

  text-align: center;

  border: 5px solid #EC6608;
  border-radius: 30px;

  padding: 10px 60px;
}

#impressum button:hover {
  font-size: 1.6rem;
}

#impressum button:active {
  font-size: 1.4rem;
}