/*  Allgemeim  *******************************************/

body {
  box-sizing: border-box;

  background-color: #09021d;

  position: relative;
  top: 96px;

  font-family: "Roboto", Courier, monospace;
  font-size: 1.1rem;
  color: #F2F2F2;

  word-spacing: 3px;
  letter-spacing: 2px;

  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Roboto Serif";
  font-size: 3rem;

  text-align: center;
}

h2 {
  font-family: "Roboto Serif";
  font-size: 1.8rem;

  text-align: center;
}

p {
  line-height: 1.4;
}

/****  Header  *******************************************/

/****  Lösung - Lesezeichen Scroll Problem  ****/
html {
  scroll-padding-top: 96px;
  /* Höhe von Header */
}

header {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 32px 32px 32px;
  grid-auto-rows: 32px;

  gap: 0px;

  width: 100%;

  background-color: #09021d;

  border-bottom: 2px solid #65B32E;

  padding: 0rem 1rem;

  box-sizing: border-box;

  position: fixed;

  top: 0;
  left: 0;
}

#menu img {
  display: inline;
}

#logo {
  /****  Grid  ****/
  grid-column: 4 / span 1;
  grid-row: 1 / span 3;
  z-index: 0;

  justify-self: flex-end;
  align-self: center;
}

#logo img {
  width: 80px;
  height: 80px;
}

header nav {

  display: none;
  /****  Grid  ***

  grid-column: 3 / span 10;
  grid-row: 1 / span 3;
  z-index: 0;

  justify-self: flex-end;
  align-self: center;*/
}

header button {
  background-color: #EC6608;

  padding: 10px 20px;

  border-radius: 30px;
  border: 2px solid #F2F2F2;
}

header nav li {
  /****  Inline  ****/
  display: inline;
  list-style: none;
}

header nav a:link {
  /****  Box  ****/
  padding: 0px 0.5rem;

  /****  Font/Text  ****/
  font-size: 1.5rem;
  font-weight: 400;
}

header nav a:hover {
  /****  Font/Text  ****/
  font-weight: 700;
}

header nav a:active {
  /****  Font/Text  ****/
  font-weight: 400;
}

/*  Link
===========================================================
*/

a {
  color: #F2F2F2;
  text-decoration: none;

  cursor: pointer;
}